<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="share.mybatis.UserDTOMapper">

    <resultMap id="userMap" type="share.mybatis.UserDTO">
        <id column="id" property="id" />
        <result property="name" column="name" />
    </resultMap>

    <select id="selectAll" resultType="share.mybatis.UserDTO">
        select * from demo_user
    </select>

    <insert id="insert" parameterType="share.mybatis.UserDTO">
        insert into demo_user (name)
        values (#{name})
    </insert>

</mapper>